<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adventurer Calculator</title>
</head>
<body>
<h2>Welcome</h2>
<h2 th:if="${name !=null}" th:text="${'Hello ' + name}"></h2>
<h3 th:if="${birthYear !=null}" th:text="${'You were born at ' + birthYear}"></h3>
<h3 th:text="${'Your power is ' + power}">to the guild</h3>
<h3 th:if="${power < 20000}" th:text="${'Your power level is C'}"></h3>
<h3 th:if="${power > 20000 && power < 100000}" th:text="${'Your power level is B'}"></h3>
<h3 th:if="${power > 100000}" th:text="${'Your power level is A'}"></h3>

</body>
</html>